[Desktop Entry]
Encoding=UTF-8
Name=Printer Applet
Name[sv]=Miniprogram för skrivare
Comment=System tray icon for managing print jobs
Comment[sv]=Ikon i systembrickan för att hantera skrivarjobb
Exec=printer-applet
Terminal=false
Type=Application
Icon=printer
OnlyShowIn=KDE;
